@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.15em;
  color: hsl(192, 100%, 9%);
  background: #f0ece1;
}

/* DARK MODE */

.dark {
  background: hsl(192, 100%, 0%);
}

.dark > div > header,
.dark > div > footer {
  background: hsl(192, 100%, 9%);
}

.dark > div > header {
  color: #f0ece1;
  & button {
    background: hsl(192, 100%, 0%);
  }
}

.dark > div > div > div {
  background: hsl(192, 100%, 9%);
  color: #f0ece1;
}
